<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidang Akhir</title>
  <link rel="stylesheet" href="../../static/css/mahasiswa/mahasiswa-nilai.css">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const selectElement = document.getElementById('tahunAjaranSelect');
      const tahunAjaranId = new URLSearchParams(window.location.search).get('tahun_ajaran');
      if (tahunAjaranId) {
        selectElement.value = tahunAjaranId;
      }
      selectElement.addEventListener('change', function() {
        const tahunAjaranId = this.value;
        console.log("Tahun Ajaran yang dipilih:", tahunAjaranId);
        window.location.href = `?tahun_ajaran=${tahunAjaranId}`;
      });
    });
    document.addEventListener('DOMContentLoaded', function () {
              const today = new Date();
              const currentMonth = today.getMonth(); // Desember = 11
              const currentYear = today.getFullYear();
              const currentDate = today.getDate();
      
              // Pastikan bulan dan tahun adalah Desember 2024
              if (currentMonth === 11 && currentYear === 2024) {
                  // Cari elemen <td> dengan data-day yang sesuai
                  const todayCell = document.querySelector(`td[data-day='${currentDate}']`);
                  if (todayCell) {
                      todayCell.style.backgroundColor = '#2d89ef';
                      todayCell.style.borderRadius = '50%';
                      todayCell.style.fontWeight = 'bold';
                  }
              }
            });
  </script>
</head>
<body>
  <div class="container">
    {% include 'mahasiswa/fragment/sidebar.html' %}

    <main class="content">
      <header class="header">
        <div class="welcome-box">Nilai Sidang</div>
        <select id="tahunAjaranSelect" name="tahun_ajaran">
          {% for tahun in bobots %}
            <option value="{{ tahun.ID_Tahun_Ajaran }}" 
              {% if tahun_ajaran == tahun.ID_Tahun_Ajaran %}selected{% endif %}>
              {{ tahun.tahun_ajaran }}
            </option>
          {% endfor %}
        </select>
      </header>
      
      {% if sidang and nilai_detail %}
        <table>
          <thead>
            <tr>
              <th>No.</th>
              <th>Detail Nilai</th>
              <th>Nilai Penguji 1</th>
              <th>Nilai Penguji 2</th>
              <th>Nilai Pembimbing</th>
              <th>Nilai Koordinator</th>
              <th>Angka Akhir</th>
              <th>Nilai Akhir</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Tata Tulis</td>
              <td>{{ nilai_detail.nilai_tata_tulis_penguji1 }}</td>
              <td>{{ nilai_detail.nilai_tata_tulis_penguji2 }}</td>
              <td>{{ nilai_detail.nilai_tata_tulis_pembimbing }}</td>
              <td rowspan="6">{{ nilai_detail.nilai_koordinator }}</td>
              <td rowspan="6">
                {% if nilai_detail.total_nilai is not none %}
                  {{ nilai_detail.total_nilai | round(2) }}
                {% else %}
                  Tidak Ada Nilai
                {% endif %}
              </td>
              <td rowspan="6">
                {% if nilai_detail.total_nilai >= 80 %}
                  A
                {% elif 77 <= nilai_detail.total_nilai <= 79 %}
                  A-
                {% elif 73 <= nilai_detail.total_nilai <= 76 %}
                  B+
                {% elif 70 <= nilai_detail.total_nilai <= 72 %}
                  B
                {% elif 67 <= nilai_detail.total_nilai <= 69 %}
                  B-
                {% elif 63 <= nilai_detail.total_nilai <= 66 %}
                  C+
                {% elif 60 <= nilai_detail.total_nilai <= 62 %}
                  C
                {% elif 50 <= nilai_detail.total_nilai <= 59 %}
                  D
                {% else %}
                  E
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Kelengkapan Materi</td>
              <td>{{ nilai_detail.nilai_kelengkapan_materi_penguji1 }}</td>
              <td>{{ nilai_detail.nilai_kelengkapan_materi_penguji2 }}</td>
              <td>{{ nilai_detail.nilai_kelengkapan_materi_pembimbing }}</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Pencapaian Tujuan</td>
              <td>{{ nilai_detail.nilai_pencapaian_tujuan_penguji1 }}</td>
              <td>{{ nilai_detail.nilai_pencapaian_tujuan_penguji2 }}</td>
              <td>{{ nilai_detail.nilai_proses_bimbingan_pembimbing }}</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Penguasaan Materi</td>
              <td>{{ nilai_detail.nilai_penguasaan_materi_penguji1 }}</td>
              <td>{{ nilai_detail.nilai_penguasaan_materi_penguji2 }}</td>
              <td>{{ nilai_detail.nilai_penguasaan_materi_pembimbing }}</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Presentasi</td>
              <td>{{ nilai_detail.nilai_presentasi_penguji1 }}</td>
              <td>{{ nilai_detail.nilai_presentasi_penguji2 }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      {% else %}
        <p>Tidak ada data sidang atau nilai ditemukan.</p>
      {% endif %}
    </main>

    {% include 'mahasiswa/fragment/rightbar.html' %}
  </div>
</body>
</html>
