<aside class="calendar">
  <div class="user">
    <img src="{{ url_for('static', filename='png/profile-mahasiswa.png') }}" alt="User">
    <span>{{nama}}</span>
  </div>
  <div class="notification">
    <i class="bell-icon"></i>
  </div>
  <div class="cal-wrapper">
    <h2>Desember 2024</h2>
    <hr style="margin-bottom: 20px;">
    <table class="cal-table">
        <thead>
            <tr>
                <th>Min</th>
                <th>Sen</th>
                <th>Sel</th>
                <th>Rab</th>
                <th>Kam</th>
                <th>Jum</th>
                <th>Sab</th>
            </tr>
        </thead>
        <tbody id="calendar-body">
          <!-- Minggu pertama -->
          <tr>
              <td data-day="1">1</td>
              <td data-day="2">2</td>
              <td data-day="3">3</td>
              <td data-day="4">4</td>
              <td data-day="5">5</td>
              <td data-day="6">6</td>
              <td data-day="7">7</td>
          </tr>
          <!-- Minggu kedua -->
          <tr>
              <td data-day="8">8</td>
              <td data-day="9">9</td>
              <td data-day="10">10</td>
              <td data-day="11">11</td>
              <td data-day="12">12</td>
              <td data-day="13">13</td>
              <td data-day="14">14</td>
          </tr>
          <!-- Minggu ketiga -->
          <tr>
              <td data-day="15">15</td>
              <td data-day="16">16</td>
              <td data-day="17">17</td>
              <td data-day="18">18</td>
              <td data-day="19">19</td>
              <td data-day="20">20</td>
              <td data-day="21">21</td>
          </tr>
          <!-- Minggu keempat -->
          <tr>
              <td data-day="22">22</td>
              <td data-day="23">23</td>
              <td data-day="24">24</td>
              <td data-day="25">25</td>
              <td data-day="26">26</td>
              <td data-day="27">27</td>
              <td data-day="28">28</td>
          </tr>
          <!-- Minggu kelima -->
          <tr>
              <td data-day="29">29</td>
              <td data-day="30">30</td>
              <td data-day="31">31</td>
              <td style="color: rgb(82, 82, 82);">1</td>
              <td style="color: rgb(82, 82, 82);">2</td>
              <td style="color: rgb(82, 82, 82);">3</td>
              <td style="color: rgb(82, 82, 82);">4</td>
          </tr>
      </tbody>      
    </table>
  </div>
</aside>
