<nav class="sidebar">
    <h2 class="title">Sidang Akhir</h2>
    <ul class="menu">
      <li id="homeLink"><a href="home">Home</a></li>
      <li id="infoLink"><a href="info">Info Tugas Akhir</a></li>
      <li id="aturLink" class="active"><a href="pengaturan_waktu_dan_lokasi">Atur Waktu dan Lokasi</a></li>
      <li id="nilaiLink"><a href="pengaturan_nilai">Pengaturan Nilai</a></li>
      <li id="bapLink"><a href="bap">BAP</a></li>
    </ul>
    <a href="logout" class="sign-out">Sign Out</a>
  </nav>